.recent-tab {
  background-color: #091818;
  height: 268px;
  left: 69px;
  position: relative;
  display: flex;
  top: 43px;
  width: 1760px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}
.blur{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-image: linear-gradient(rgb(22, 42, 9)0%, #1a3313);
  filter: blur(150px);
  transition: all 450ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  /* z-index: -1; */
}

.inner-recent-box {
  padding:40px;
  background-color:  #09181800;
  height: 216px;
  /* left: 60px; */
  position: relative;
  display:flex;
  /* top: 30px; */
  width: 100vw;
  justify-content:space-between;
  align-items: space-between;
  flex-wrap: wrap;
  margin:20px
}

.overlap {
  background-color: rgba(115, 202, 202, 0.443);
  border-radius: 10px;
  height: 269px;
  height: 259px;
  /* padding: 15px; */
  position: relative;
  overflow: hidden;
  top: -22px;
  /* margin-left: 10px; */
  width: 227px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  text-decoration: none;
  text-decoration: none;
  transition: ease-out 2000ms;
}
.overlap:hover{
  /* background-color:  rgba(222, 227, 195, 0.326); */
  /* transition:1500ms; */
  /* box-shadow: #1f201e; */
  animation: glow 2s ;
  transition: ease-out 1000ms;
  transform: scale(1.05);
}
@keyframes glow{
  0%{}
  100%{
  background-color:  rgba(223, 226, 205, 0.326);
  }
}
.recentModel {
  position: relative;
  object-fit: cover;
  height: 262px;
  /* padding: 15px; */
  /* top: -22px; */
  margin-left: 67px;
  width: 249px;
  /* display: none; */
}

.recent-text-wrapper {
  text-decoration:none;
  color: #242323;
  font-family: "Lalezar-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  width: 100%;
  height: 100%;
  text-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlap:hover .Play {
  opacity: 1; /* Make the play button visible when hovering over the song-board */
  position: absolute;
  transition: 500ms;
}
.Play {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(280%, 200%);
  background-color: aliceblue;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid rgb(145, 29, 29);
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-right: none;
  opacity: 0;
  z-index: 1;
  /* top: 60%; */
}

.Play:hover {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  /* border-left: 35px solid rgb(48, 47, 47); */
  border-left: 30px solid #bab4b4;
  box-shadow: #9d9d9d;
  /* scale: (1.02); */
  /* transform: scale(1.03); */
  /* animation: glow 1s infinite; */
  transition: 100ms;
}
