.main-home {
    background-color: #052b225d;
    height: 100vh;
    position: relative;
    top: 40px;
    left: 69px;
    width: 1760px;
    border: 20px;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.text-wrapper{
    color: rgba(186, 255, 247, 0.897);
    font-family: "Lalezar-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    top: 10px;
    white-space: nowrap;
    width: auto;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}
.selected{
    background-color: rgb(44, 66, 51);
    border-radius: 5px;
    height: 243px;
    /* margin: 40px; */
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    margin-left: 16px;
    top: 10%;
    position: relative;
    animation: scrolling 10s infinite;
    &::after {
        position: absolute;
        content: "";
        top: 90%;
        left: 0;
        right: 0;
        z-index: -10;
        height: 5%;
        width: 100%;
        transform: scale(0.9) translateZ(0);
        filter: blur(5px);
        background: linear-gradient(
            to left,
            rgb(3, 135, 3),
            rgb(11, 186, 34),
            #2dc471,
            #16c333,
            #01de77,
            #16c381,
            #2dc4b8,
            #42e4c1,
            rgb(119, 230, 15)
        );
        background-size: 200% 200%;
        animation: animateGlow 2.25s linear infinite;
    }
}
@keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  
.text-wrapper-2 {
    color: rgba(186, 255, 247, 0.897);
    font-family: "Lalezar-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    top: 38%;
    white-space: nowrap;
    width: auto;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

/* 
.text-wrapper:hover,
.text-wrapper-2:hover {
    transform: scale(1.1);
} */

.playlist-boards {
    /* background-color: #000000; */
    height: 481px;
    left: 40px;
    position: relative;
    top: 100px;
    width: 1700px;
    display: flex;
    flex-wrap: wrap;
}
/* .song-board {
    position: relative; /* Ensure the play button is positioned relative to this container */
    /* display: inline-block; */
   div.song-board {
        background-color: rgba(95, 213, 199, 0.381);
        border-radius: 5px;
        height: 243px;
        /* margin: 40px; */
        width: 390px;
        display: flex;
        justify-content: center;
        align-items: space-evenly;
        transition: transform 0.2s ease-in-out;
        margin-left: 16px;
        top: 10%;
        position: relative;
        animation: scrolling 10s infinite;
    }
/* } */

.song-board:hover .songPlay {
    opacity: 1; /* Make the play button visible when hovering over the song-board */
    position: absolute;
    left:90%;
    transition: 500ms;
}
.playlist-board:hover .songPlay {
    opacity: 1; /* Make the play button visible when hovering over the song-board */
    position: absolute;
    left:90%;
    transition: 500ms;
}

.songPlay {
    position: absolute; /* Position the play button absolutely within the song-board */
    top: 50%; /* Adjust the positioning as needed */
    left: 50%; /* Adjust the positioning as needed */
    transform: translate(-50%, -50%); /* Center the play button */
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid rgb(48, 47, 47);
    cursor: pointer;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-right: none;
    opacity: 0; /* Initially hide the play button */
    z-index: 1; /* Ensure the play button is above other content */
    top:60%
}

.songPlay:hover {
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    /* border-left: 35px solid rgb(48, 47, 47); */
    border-left: 35px solid #bab4b4;
    box-shadow: #9d9d9d;
    transition: 100ms;
}


.suggested-boards{
    /* background-color:#88a9ad ; */
    top:6%;
    left:0px;
    position: relative;
    width: 95%;
    height:292px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: space-evenly;
    text-align: center;
}
.suggested-boards::-webkit-scrollbar{
    width:0;
}
.song-board{
    background-color: rgba(229, 224, 224, 0.33);
    border-radius: 5px;
    /* height: 193px; */
    /* margin: 40px; */
    width: 194px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    left:0px;
    margin-left: -150px;
    /* top:10%; */
    position: relative;
    animation: scrolling 10s infinite;
    text-align: center;
}

@keyframes scrolling{
    0%{translate:-60%}
    50%{translate: 0%;}
    100%{translate: -60%;}
}
.song-board:hover {
    transform: scale(1.05);
}
.selected:hover {
    transform: scale(1.05);
}
.playlist-boards::-webkit-scrollbar {
    display: none;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.playlist-board {
    background-color:rgba(95, 213, 199, 0.381);
    border-radius: 5px;
    height: 193px;
    margin: 40px;
    width: 194px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    transition: transform 0.2s ease-in-out;
    position: relative;
}
.playlist-board:hover {
    transform: scale(1.05);
}

.model {
    height: 110px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 172px;
    left: 11px;
    transition: filter 0.3s ease-in-out;
}
/* .model:hover {
    filter: brightness(1.2);
} */

/* .song,
.song-2 {
    height: 90px;
    width: 160px;
    position: absolute;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: rgb(0,36,30);
    background: linear-gradient(0deg, #112b2b 5%, #d9d9d9 100%, rgb(53, 55, 58) 5%);
    background-color: #88a9ad;
} */

.song {
    font-size: 25px;
    font-family: "Lalezar-Regular", Helvetica;
    position: relative;
    top: 15%;
    color:  rgba(186, 255, 247, 0.897);
    /* margin-top: -50%; */
    text-decoration: #c6cfcd;
    /* left: 35px; */
    width:90%;
} 

.song-2 {
    font-family: "Lalezar-Regular", Helvetica;
    color:  rgba(186, 255, 247, 0.897);
    top: 20%;
    position: relative;
    /* margin-top: -70%; */
}
.song-3 {
    font-size: 25px;
    font-family: "Lalezar-Regular", Helvetica;
    position: relative;
    top: 65%;
    color:  rgba(186, 255, 247, 0.897);
    text-decoration: #c6cfcd;
    /* left: 35px; */
    width:90%;
}

.cloud-effect {
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: circle(100px at var(--x, 50%) var(--y, 50%));
    transition: clip-path 100ms;
}