.box {
    height: 80px;
    width: 1934px;
}
.box .player-bar {
    background-color:  #6E576B;
    height: 65px;
    margin-left: 68px;
    margin-bottom: 10px;
    position: fixed;
    top: 94.5%;
    width: 100vw;
}
.box .overlap {
    height: 42px;
    left: 874px;
    position: absolute;
    top: 24px;
    width: 44px;
    display: flex;
}

.box .play-buttton {
    height: 40px;
    /* position: relative; */
    left: 48%;
    /* object-fit: cover; */
    position: absolute;
    top: 5px;
    width: 40px;
    display:none;
}

.box .pause {
    height: 42px;
    left: 46%;
    /* object-fit: cover; */
    position: absolute;
    top: 5px;
    width: 42px;
    transform: rotateY(30);
    /* display:none; */
}


.box .fast-forward {
    height: 40px;
    left: 52%;
    position: absolute;
    top: 5px;
    width: 40px;
}

.box .img {
    height: 40px;
    left: 40%;
    position: absolute;
    top: 5px;
    width: 40px;
}