.sidebar {
    height: 100vh;
    /* left: -1335px; */
    position: fixed;
    top: 5px;
    width: 68px;
    /* overflow-y: hidden; */
}
.overlap-group::-webkit-scrollbar {
    display: none;
}
.overlap-group {
    height: 100vh;
    top: 180px;
    position: fixed;
    width: 68px;
    background-color: rgba(253, 215, 215, 0);
    overflow: auto;
}   
  
.libraryandsearch{
    /* position: absolute; */
    background-color: rgba(138, 181, 176, 0.381);
    height:149px;
    width:65px;
    border-radius: 10px;
    /* overflow: hidden; */
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.side-artist-box {
    height: 730px;
    /* left: -100px; */
    position: relative;
    overflow:scroll;
    width: 65px;
    background-color: rgba(95, 213, 199, 0.381);
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 20px;
}
.side-artist-box::-webkit-scrollbar {
    display: none;
}


.graybox {
    top: 8px;
    width: 72px;
    height: 66px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(29, 255, 9, 0);
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 50%;
    /* padding-bottom: 10px; */
    position: relative;
    margin-bottom: 7px;
}

.Rmodel {
    left: -20px;
    top: 0px;
    position: relative;
    object-fit: fill;
    height: auto;
    width: 105px;
}
.likedSongs {
    left: 0px;
    top: 2px;
    position: relative;
    object-fit: fill;
    height: auto;
    width: 70px;
}
.sideinfo{
    position: fixed; 
    opacity:100%;
    margin-top:-100px;
    left: 70px;
    width:auto;
    height: auto;
    padding:5px;
    background-color: rgba(86, 135, 135, 0.472);
    border-radius: 10px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    transition:ease 0.15s;
    opacity: 0;

}
.Rmodel:hover+.sideinfo{
    opacity:1;
    transition: ease-in 0.4s;
}
.likedSongs:hover+.sideinfo{
    margin-top: -80px;
    opacity:1;
    transition: ease-in 0.1s;
}
.searchBox {
    z-index:5;
    position: absolute;
    /* width: 478px; */
    left: 0px;
    margin-top: 60px;
    /* height: 50px; */
    background-color: rgba(53, 190, 199, 0.783);
    padding: 5px 10px;
    border-radius: 40px;
    font-size: larger;
    /* display: flex; */
    flex-wrap: wrap;
    align-items: center;
}
.search{
    height: 44px;
    /* left: -55px; */
    /* display: block; */
    object-fit: cover;
    position: relative;
    /* top: 75px; */
    width: 44px;
    cursor: pointer;
    /* transition: ease-in 0.3s; */
  }
.searchBox:hover > .search-text {
    width:85%;
    padding:10px 15px;
    position: relative;
    border:2px solid rgb(233, 233, 233);
    border-radius:40px ;
    align-self: center;
    /* transition: all ease-in 0.5s; */
}
.searchBox:hover > .search {
    display: none;
    /* transition: ease-in 1s; */
}
.searchBox:hover {
    position: fixed;
    margin-top: 90px;
    /* overflow: scroll; */
    /* padding-left: px; */
}
.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    position: relative;
  }
  .SearchResults {
    width: 400px;
    max-height: 200px; /* Set maximum height */
    /* overflow-y: scroll; Add vertical scrollbar */
    background-color: #ffffff00;
    margin-top: 20px;
    position: relative;
    margin: 5px;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
}

.searchOutput {
    background-color: rgba(255, 0, 0, 0.105)(250, 145, 145);
    width: 100%;
    height: 90px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
}
.sModel {
    object-fit: cover;
    width: 53px;
    height: auto;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.preSearchResults{
    display: none;
}

.playlist {
    height: 44px;
    /* left: 8px; */
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 44px;
    display: block;
}
.playlist:hover{
    height: 48px;
    /* left: 8px; */
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 48px;
    display: block;
    
}
